# introduction to statistics


Statistics is a field of maths that deals with the collection, analysis, explanation and presentation of data. Statistical methods can be used to find solutions to problems which contain numerical data. These mathematical formulas or Statistical methods used to find solutions are known as quantitative models. Thus, we can define Statistics as a branch of mathematics which uses different quantitative models to produce a solution for a real-world problem containing numerical data. Statistics can be used to  solve real-world complex problems using data. Knowledge of Statistics can help a person to draw some very interesting inferences from data.

# Real world examples of application of Statistics:

Collection of data in data-surveys
Filling of missing values in data (Data Cleaning)
Analysis of Data
Finding useful inferences from data
Presentation of data using charts and tables ( Boxplot, Histogram etc)

# Role of Statistics in Data Science

Josh Wills, a former head of data engineering at Slack, said “A data scientist is a person who is better at statistics than any programmer and better at programming than any statistician.”

Data is a term that we usually hear these days, in today’s modern world data is among one of the most common terms that is being used by people in their day to day life. Enormous amount of data is being generated by people all around the world on a daily basis. Now for some people this data is useless but for some it is as valuable as gold. Data Scientists use this unstructured data to find some really interesting inferences which can help their companies in many ways. Example using data to specifically target a particular audience, using data for early detection of diseases, using data for political campaigns etc. These are some of the real-world scenarios in which data is being used to enhance the outcomes. 

But finding these inferences isn’t an easy job, the data that we gather is unstructured and requires a lot of pre-processing. Only after preprocessing the data can this data be used for visualizations and training models. Here statistics comes into play, having a good knowledge of statistics can help a programmer in various steps of Data Analysis.

It can be used in data pre-processing, for example seeing the unstructured data an analyst can determine whether to drop the rows which don't contain any value (NaN rows) or to fill them with mean, mode etc (Statistical methods).

After data pre-processing, an analyst can find various inferences from data even without visualising the data example using .describe() function is python:

In [3]:
import pandas as pd

In [6]:
data = pd.read_csv("Students_marks.csv")

In [7]:
data

,Roll No.,Name,Gender,Data Structure,Mathematics,Operating System,Average marks,Ranking
0,1,Avneet,F,25,19,17,20.33,Good
1,2,Jay,M,23,21,14,19.33,Okay
2,3,Sadaf,F,28,23,21,24.00,Good
3,4,Prakash,M,21,27,28,25.33,Very Good
4,5,Sarita,F,23,22,9,18.00,Okay
5,6,Vasudha,F,190,30,28,82.66,Very Good
6,7,Ankur,M,24,24,22,23.33,Good
7,8,Laksh,M,26,25,27,26.00,Very Good
8,9,Aman,M,23,18,25,22.00,Good
9,10,Rajat,M,24,22,15,20.33,Good

#  basic statistics function

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Roll No.          10 non-null     int64
 1   Name              10 non-null     object
 2   Gender            10 non-null     object
 3   Data Structure    10 non-null     int64
 4   Mathematics       10 non-null     int64
 5   Operating System  10 non-null     int64
 6   Average marks     10 non-null     float64
 7   Ranking           10 non-null     object
dtypes: float64(1), int64(4), object(3)
memory usage: 772.0+ bytes

In [9]:
data.describe()

       Roll No.  Data Structure  Mathematics  Operating System  Average marks
count  10.00000       10.000000     10.00000         10.000000      10.000000
mean    5.50000       40.700000     23.10000         20.600000      28.131000
std     3.02765       52.493492      3.60401          6.619836      19.337093
min     1.00000       21.000000     18.00000          9.000000      18.000000
25%     3.25000       23.000000     21.25000         15.500000      20.330000
50%     5.50000       24.000000     22.50000         21.500000      22.665000
75%     7.75000       25.750000     24.75000         26.500000      24.997500
max    10.00000      190.000000     30.00000         28.000000      82.660000

Some of the key applications of statistics in data science include:

1.   Descriptive statistics: It is a set of statistical techniques that are used to summarize and describe the characteristics of a dataset. This includes measures of central tendency (such as the mean, median, and mode), measures of variability (such as the range and standard deviation), and measures of distribution (such as histograms and frequency tables).

Central tendency measures are used to describe the typical or average value of a dataset. For example, the mean is the sum of all values divided by the number of values in the dataset. Variability measures, on the other hand, describe how spread out the data is. For example, the standard deviation measures how much the values in the dataset differ from the mean. Distribution measures provide information on how the data is distributed across the range of possible values. For example, a histogram can be used to show how many data points fall into each range of values.

 

2.   Inferential Statistics:  This involves making inferences about a population based on a sample of data, using techniques such as hypothesis testing and confidence intervals.

Hypothesis testing involves making a statement about a population parameter (such as the population mean) and testing whether the sample data supports or contradicts that statement. A null hypothesis is proposed, which assumes that there is no significant difference between the population parameter and the sample statistic. The sample data is then analyzed to determine whether the null hypothesis can be rejected or not.

 Confidence intervals are another inferential statistical technique used to estimate population parameters. A confidence interval is a range of values that is likely to contain the true population parameter with a certain level of confidence. For example, a 95% confidence interval for the population mean would be a range of values that is expected to contain the true population mean with 95% confidence.